body{
    margin: 0%;
}

header{
    background-color: rgb(73, 170, 235);
    padding: 15px 15px 15px 0px;
}
header img{
    width: 90px; 
}
div{
    margin: 0px 0px 0px 3px;
}
p a:hover{
    color: crimson;
}
.main-title{
    margin: 0px 0px 0px 0px ;
}
.tim-img{
    width: 400px;
    height: 300px;
    
}
.photographer{
    margin: 0%;
    font-size: x-small;
}
ul{
    padding: 1%;
}
th{
    color: white;
    background-color: rgb(25, 25, 213);
}
.table-background{
    background-color: rgb(99, 119, 218);
}
.cell-size{
    width:33%;
    height:10%;

}
#final-part{
    color: white;
    text-align: center;
    background-color: blue;
    padding: 25px; 
   margin-bottom: 0px;
    font-size: small;
}
