header{
    background-color: rgb(73, 170, 235);
    padding: 15px 15px 15px 0px;
}
header img{
    width: 90px; 
}
p a:hover{
    color: crimson;
}
.main-title{
    margin: 0px 0px 0px 0px ;
}
.tim-img{
    width: 400px;
    height: 300px;
    
}
.photographer{
    margin: 0%;
    font-size: x-small;
}